<p id="notice"><%= notice %></p>

<h1>People</h1>

<div class="d-flex flex-column justify-content-around">
  <div class="col col-md-9 col-lg-6 col-xl-5">
    <%= render @people %>
  </div>
</div>

<%= link_to 'Add a Person', new_person_path, class: 'btn btn-primary' %>
