<div class="d-flex justify-content-between align-items-center">
  <h1>New Person</h1>
  <%= link_to 'Back', people_path, class: 'btn btn-outline-primary' %>
</div>

<%= turbo_frame_tag @person do %>
  <div class="border rounded-3 p-3 mb-3 shadow">
    <%= link_to 'Back', people_path, class: 'btn btn-outline-primary' %>
    <%= render 'form', person: @person %>
  </div>
<% end %>
