<div class="d-flex justify-content-between align-items-center">
  <h1>New Person</h1>
  <%= link_to 'Back', people_path, class: 'btn btn-outline-primary' %>
</div>

<%= render 'form', person: @person %>
