<template data-nested-form-target="addressTemplate">
  <%= form.fields_for :addresses, child_index: "NEW_RECORD" do |addresses_form| %>
    <%= render "addresses/address_form", f: addresses_form %>
  <% end %>
</template>

<%= form.fields_for :addresses do |addresses_form| %>
  <%= render "addresses/address_form", f: addresses_form %>
<% end %>

<!-- Inserted elements will be injected before that target. -->
<div data-nested-form-target="address"></div>

<div class="d-flex justify-content-end pt-3 pe-3">
  <button type="button" data-action="nested-form#add" data-field-scope="address" class="btn btn-sm btn-outline-primary">Add Another Email</button>
</div>
